{% extends 'base.html' %}

{% block content %}

<div class="row">
	<div class="col-2">
		<img src="{{ book.icon.url }}" class="img-fluid" />
	</div>
	<div class="col-10">
		<a href="{{ book.url }}"><h1>{{ book.title }}</h1></a>
  </div>

</div>


<div class="row">
  <div class="col-8">
    <img src="{{ book.image.url }}" class="img-fluid" />
  </div>
  <div class="col-4">
    <a href="javascript:{document.getElementById('upvote').submit()}"><button class="btn btn-primary btn-lg btn-block"><span class="oi oi-caret-top"></span> Upvote {{ book.votes_total }}</button></a>
  </div>

</div>

  <div class="col-10">
     <h3>Tag: {{ book.tagged }}</h3></a>
  </div>


<div class="row">
  <div class="col-8">
    <p>{{ book.body }}</p>
  </div>
</div>

<form id="upvote" method="POST" action="{% url 'upvote' book.id %}">
  {% csrf_token%}
  <input type="hidden">
</form>



{% endblock %}